body {
    font-family: 'Luxurious Roman', cursive;
}
p {
    font-size: 20px;
    padding: 20px 0px;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 60px;
    padding: 0;
    margin: 0;
}
h3 {
    font-size: 50px;
    padding: 0;
    margin: 0;
}
h4 {
    font-size: 30px;
}
#middle-text {
    text-align: center;
}
.flexible-display {
    display: flex;    
}
.half-width {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.half-width img {
    width: 60%;
    margin-left: 100px;
}
#header-border {
    border-left: 5px solid;
    border-color: red;
    padding-left: 10px;
    border-radius: 5px;
}
.orange-text {
    color: orange;
}
.space-left {
    padding-left: 150px;
}
.button {
    background-color: tomato;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}
.mid-section {
    display: flex;
    padding: 0px 140px;
}
.mid-section div {
    max-width: 30%;
    align-items: center;
    border-radius: 25px;
    margin: 15px;
    padding-left: 25px;
}
.mid-section img {
    max-width: 40%;
    margin-left: 0;
}
#bg-1 {
    background-color: rgba(187, 218, 228, 0.301);
}
#bg-2 {
    background-color: rgba(255, 182, 193, 0.301);
}
#bg-3 {
    background-color: rgba(255, 228, 196, 0.308);
}
.middle-text {
    padding-top: 100px;
}
.section-third {
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 50%;
    background-position-x: 1.75%;
}
.section-third div {
    margin-left: -100px;
}
.section-third img {
    max-width: 90%;
    padding-left: 125px;
}
.section-fourth {
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 125%;
    background-position-x: 95%;
    padding-top: 100px;
}
.section-fourth div {
    padding-left: 125px;
}
.section-fourth img {
    max-width: 90%;
    padding-right: 125px;
    margin-left: -90px;
    margin-top: 10px;
}